p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #222;
}

.bold {
    font-weight: bold;
}

.px24 {
    font-size: 24px;
}

.lineHeight {
    line-height: 50px;
}